﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Pruebas.aspx.cs" Inherits="FacturacionWeb.View.Pruebas" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>








<style type="text/css">
  
</style>

</head>
<body>
    <form id="form1" runat="server">
         <div class="container">
    	        <p>En construcción.</p>
            </div>  
        

            

    </form>
</body>
</html>
